<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Rota ABXY-900A</title>
</head>
<body>
    <h1>Atualizar Rota ABXY-900A</h1>

    <ul>
        <li><strong>Código:</strong> ABXY-900A</li>
        <li><strong>Horário planejado:</strong> 9:00</li>
        <li><strong>Dia da semana:</strong> Terça</li>
        <li><strong>Duração planejada:</strong> 50 minutos</li>
        <li><strong>Aeroporto de chegada:</strong> GRU</li>
        <li><strong>Aeroporto de partida:</strong> CWB</li>
        <li><strong>Companhia:</strong> Azul</li>
    </ul>
</body>
</html>